.bgcontainer{
	position:relative;
	height: 105%;
	width: 105%;
	overflow:hidden;
	z-index: -10;
}

body {
	background: #000000;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.background-image {
	background-repeat:no-repeat;
	position: fixed;
	background-size: cover;
	left:-15px;
	right:-15px;
	top:-15px;
	bottom:-15px;
	-webkit-filter: blur(5px) brightness(50%);
	filter: blur(5px) brightness(50%);
	z-index: -10;
	animation: fadein 2s;
}

.subtitel {
	color : white;
	text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
	text-align: center;
	font-size: 550%;
	background-clip: text;
	margin: 0;
	margin-bottom: 100px;
}

.titel {
	background: linear-gradient(to bottom, #220000, #881919);
	color : transparent;
	text-align: center;
	font-size: 700%;
	background-clip: text;
	margin: 0;
}

.textcontainer {
	text-align: center;
	font-size: 150%;
}

.bordertop {
	display: inline-block;
	background: #3333333;
	background: rgba(35,35,35,0.6);
	border-radius: 5px;
	border-color: #FFFFFF;
}

.bordercenter {
	display: inline-block;
	background: #3333333;
	background: rgba(35,35,35,0.6);
	border-right: 5px;
	border-left: 5px;
	border-color: #FFFFFF;
}

.profilelabel {
	color: #DDDDDD;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	text-shadow: 4px 4px #111111;
}

.profileinput {
	border-radius: 5px;
	background-color: #000000;
	background-color: rgba(255,255,255,0.1);
	color: #DDDDDD;
	margin-right: 30px;
	text-shadow: 4px 4px #111111;
}

.profileInputHint {
	color: #DDDDDD;
	text-shadow: 4px 4px #111111;
}

.downloadBT {
	border-radius: 10px;
	margin: 10px;
	font-size: 110%;
	background: linear-gradient(to bottom, #081a07, #193b1e,#1a3d1d);
	border-color: transparent;
	animation: fadein 1s;
}

.downloadBTText {
	margin: 5px;
	color: #DDDDDD;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

.downloadBT:hover {
	-webkit-filter: brightness(120%);
	filter: brightness(120%);
}

.hide {
	display:none;
}

.errors {
	color: #DD0000;
	text-shadow: 4px 4px #111111;
}

.downloadprogress {
	text-align: center;
	min-width: 400px;
	min-height: 100px;
}

.progresstext {
	font-size: 110%;
	margin: 30px;
	color: #DDDDDD;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

.footer {
	position: fixed;
  bottom: 0;
	left: 0;
	margin-left: 50px;
}

.footerText {
	font-size: 130%;
	margin: 30px;
	color: #DDDDDD;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}
